body {
	background-color: #61122f;
}
.navbar{
	background-color: white;
	border-radius: 0;
}
.navbar-brand, .navbar-collapse{
	clear: both;
}

.icon-bar, button.navbar-toggle{
	border: 1px solid black;
}
button.navbar-toggle:hover{
	background-color: green;
}
