body {
	background-color: #a6a9e0;
	font-size: 16px;
}

.navbar{
	background-color: #585cbb;
	border-radius: 0;
	border: none;
}

.navbar-default .navbar-brand{
	float: left;
	color: black;
	font-size: 1.2em;
	margin-left: 20px;
}


.navbar-default .navbar-toggle {
	float: right;
	margin-right: 20px;
	border: 1px solid black;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: #adc1ce;
}
.icon-bar{
	border: 1px solid black;
}

.navbar-collapse{
	clear: both;
	background-color: #8080e0;
}
.navbar-default .navbar-nav>li>a {
	color: black;
	font-size: 1.1em;
	border-bottom: 1px solid #ddd; 
}
.navbar-default .navbar-nav>li>a:hover{
	background-color: #adc1ce;
}

.navbar-nav{
	margin: 0 -15px 0 -15px;
}

h1 {
	color: black;
}

.row {
	background-color: #906090;
	height: 1000px;
}

h2 {
	background-color: #204020;
	color: black;
}