body {
	background-color: #a6a9e0;
	font-size: 16px;
}

.navbar{
	background-color: #686ccb;
	border-radius: 0;
	border: none;
}

.navbar-default .navbar-brand{
	float: left;
	color: black;
	font-size: 1.2em;
	margin-left: 20px;
}


.navbar-default .navbar-toggle {
	float: right;
	margin-right: 20px;
	border: 1px solid black;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: #adc1ce;
}
.icon-bar{
	border: 1px solid black;
}

.navbar-collapse{
	clear: both;
}
.navbar-default .navbar-nav>li>a {
	color: black;
	text-align: center;
	font-size: 1.1em;
}
.navbar-default .navbar-nav>li>a:hover{
	background-color: #adc1ce;
}



h1 {
	color: black;
}

.row {
	background-color: #906090;
	height: 1000px;
}

h2 {
	background-color: #204020;
	color: black;
}